 .typed {
     color: tomato;
     text-align: center;
     font-weight: 2px;
     font-size: 50px;
 }
 /* * {
     background-color: grey;
 } */
 
 .div-img {
     margin-top: 40px;
     padding: 10px;
     display: flex;
     justify-content: center;
 }
 
 .img {
     display: flex;
     /* flex-direction: column; */
     margin: 0;
     padding: 0;
     height: 150px;
     width: 150px;
     border-radius: 50%;
     /* border: 1px solid tomato; */
     /* background-color: rgba(202, 187, 187, 0.637); */
 }
 
 .para {
     text-align: center;
     color: white;
     font-weight: lighter;
     font-size: 50px;
     overflow: hidden;
 }
 
 .cursor {
     display: inline-block;
     width: 0.1rem;
     animation: blink 1s infinite;
     background-color: white;
     margin-left: 0.1rem;
 }
 /* .cursor.typing{
    animation:none;
} */
 
 @keyframes blink {
     0% {
         background-color: white;
     }
     49% {
         background-color: white;
     }
     50% {
         background-color: transparent;
     }
     99% {
         background-color: transparent;
     }
     100% {
         background-color: white;
     }
 }
 /* #typed{
	font-family: monospace;
	display: inline-block
} */
 /* .typed{
    display: inline-block;

	overflow: hidden;
	letter-spacing: 3px;
    /* text-transform: (-50%,-50%); 
	animation: typing 5s steps(34,end),blink .75s step-end infinite;
	white-space: nowrap;
	font-size: 40px;
	font-weight: 400;
	/* border-right: 4px solid orange; 
	box-sizing: border-box;
} */
 /* @keyframes typing{
	from{
		width: 0%
	}
	to{
		width: 100%
	}
}

@keyframes blink{
	from,to{
		border-color: transparent
	}
	50%{border-color: black}
} */