.div-button {
    display: flex;
    justify-content: center;
    color: black
}

.div-card {
    display: flex;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
    justify-content: center;
    color: black;
}

.tilt {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}

.tilt:hover {
    transition: all 0.3 linear;
    transform: scale(1.1);
}